* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #823f7e;
  margin: 1rem;
}

body {
  color: #D9DCED;
  font-size: 1.8rem;
  font-family: helvetica;
  line-height: 1.50;
  margin: 20px;
}

a:link {
  color: #8493E6;
}

a:visited {
  color: #C19DBE;
}

.blog-content {
  margin: 60px;
}

.navbar {
  list-style-type: none;
  background: #492247;
  overflow: hidden;
  margin-bottom: 2rem;
  padding: 0;
  border-radius: 1rem;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
}

.nav-item:hover {
  background: #694c70;
}
