// Ayaka theme colors
$bg_0: #36283d;
$bg_1: #36283d;
$bg_2: #60486d;
$dim_0: #9098a4;
$fg_0: #cedaeb;
$fg_1: #cedaeb;

$red: #E59DB1;
$green: #AB8CAE;
$yellow: #E1B4CE;
$blue: #71ADE9;
$magenta: #8BB8E9;
$cyan: #9EA0D3;
$orange: #E59DB1;
$violet: #9EA0D3;

$br_red: #E59DB1;
$br_green: #AB8CAE;
$br_yellow: #E1B4CE;
$br_blue: #71ADE9;
$br_magenta: #8BB8E9;
$br_cyan: #E1B4CE;
$br_orange: #E59DB1;
$br_violet: #9EA0D3;

$fig-height: 45em;

$BodyFont: 'Atkinson Hyperlegible', sans-serif;
$HeaderFont: 'Source Sans Pro', sans-serif;

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width:640px)',
  'lmd': 'screen and (min-width:768px)',
  'lg': 'screen and (min-width:1024px)'
) !default;

// max-width
$breakpoint-down: (
  'md': 'screen and (max-width:767px)'
) !default;

// @mixin
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
